@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('fonts/Lato-Regular.ttf')
}


@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
        url('fonts/Lato-Bold.ttf')
}
  
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
        url('fonts/Raleway-SemiBold.ttf')
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local(''),
        url('fonts/SoruceSansPro-Regular.ttf')
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local(''),
        url('fonts/Comfortaa-SemiBold.ttf')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
.book-menu{
    font-family: 'Lato', sans-serif;
}

body{
    font-family: 'Lato', sans-serif;
}

// h1 {
//     font-family: 'Raleway', sans-serif;
// }

code {
    font-family: 'Roboto Mono', monospace;
}

.book-brand{
    font-family: 'Comfortaa', sans-serif;
}